.div-container {
    position: relative;
    z-index: var(--z-index-bg);

    width: 100%;
    max-width: 1366px;
    margin-inline: auto;
    overflow: hidden;

    min-height: 100vh;

    background-image: url(../../../../public/images/pu.svg), url(../../../../public/images/pd.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
}