@import "styles/utils";

.count-cases {
    width: 400px;
    border-radius: 1.25rem;
    background-color: var(--bg-paper-clr);
    padding: 1.25rem 2rem;
    box-shadow: 0 4px 0 0 rgba(239, 238, 238, 0.25);

    @include custom-size(1315px) {
        width: 100%;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        margin-block-end: 3.2rem;

        &--title {
            font-weight: 500;
            font-size: 1.125rem;
            color: var(--title-clr);
        }

        &--detail {
            color: var(--text-clr);
            font-size: 0.813rem;
            font-weight: 500;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                margin-block-end: 1rem;
            }
        }
    }

    &__content {
        padding-inline-start: 0.3rem;

        &--list-item {
            margin-block-end: 1.875rem;
            display: flex;
            align-items: center;
            gap: 1.125rem;

            span {
                font-weight: 400;
                font-size: 1.125rem;
                color: var(--dark-blue-900);
            }

            p {
                color: var(--text-disabled);
            }
        }
    }
}